* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

.background-bot {
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 40vw;
    background: hsl(185, 75%, 39%) url("./../images/bg-pattern-bottom.svg");
}

.background-top {
    background: hsl(185, 75%, 39%) url("./../images/bg-pattern-top.svg");
    position: absolute;
    width: 100%;
    height: 50vh;
    transform: rotate(180deg);
    top: 0;
    right: 40vw;
}

.profile-card {
    z-index: 1;
    height: 30rem;
    width: 90%;
    background: url("./../images/bg-pattern-card.svg");
    border-radius: 5%;
    display: grid;
    grid-template-rows: 35% 65%;
}

img {
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    margin: auto;
    margin-top: 120px;
}

.profile-top {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
}

.profile-content {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

h1 {
    font-size: 18px;
    margin-bottom: 0;
}

.age {
    color: hsl(0, 0%, 59%);
    padding-left: 10px;
}

.location {
    color: hsl(0, 0%, 59%);
    margin-top: 10px;
    margin-bottom: 100px;
}

.profile-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 7px;
}

hr {
    width: 100%;
}

.name {
    padding-top: 95px;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    margin: 0;
}

.stat-description {
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
    font-size: 0.8em;
}

@media only screen and (min-width: 480px) {
    .profile-card {
        height: 35rem;
        width: 30rem;
    }

    img {
        margin-top: 9.3rem;
    }
}

@media only screen and (min-width: 768px) {

    

    img {
        margin-top: 9rem;
    }

    .profile-content {
        grid-template-rows: 70% 30%;
    }

    .profile-numbers {
        padding-top: 2em;
    }

}